django
django-crispy-forms
crispy-tailwind
django-tailwind
# django-browser-reload==1.12.1
django-widget-tweaks==1.5.0
django-import-export==3.3.7
geopy==2.4.1
gunicorn==21.2.0
pillow==10.2.0
requests==2.31.0
django-semantic-admin==0.4.1