{% extends 'base.html' %}
{% load static  %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mx-auto px-4">
    <!-- Logo and Title Container -->
    <div class="flex items-center justify-between pt-4">
        <!-- Logo on the left -->
        <img src="{% static 'img/logo.png' %}" alt="Logotipo" class="h-10"> <!-- Adjust the path to your logo --> 
        
        <!-- Title in the center -->
        <h1 class="text-xl font-bold text-center flex-grow">Sistema de Gestión de Registros</h1>
        
        <!-- Placeholder for aligning items -->
        <div class="h-10 w-10"></div> <!-- This is just to balance the layout -->
    </div>

    <!-- Content and Buttons -->
    <div class="mt-8 flex flex-col items-center justify-between h-full">
        <!-- Redirect Button -->
        <a href="{% url 'formularios:formularioTX' %}" role="button" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Registro Inspección TX</a>
        
        <!-- Conditionally display logout or login based on authentication status -->
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" role="button" class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</a>
        {% else %}
            <!-- Login Button at the bottom -->
            <div class="mt-4 self-start">
                <a href="{% url 'login' %}" role="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Log In</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
