{% extends 'base.html' %}

{% load static tailwind_filters crispy_forms_tags widget_tweaks %}

{% block title %}TX/Pre-Ing{% endblock title %}

{% block extra_css %}
    {% comment %} <script src="{% static './js/Leaflet.AccuratePosition.js' %}"></script>  {% endcomment %}
{% endblock extra_css %}

{% block content %}
<div id='overlay' class='invisible z-[10000] fixed top-0 left-0 bg-opacity-50 bg-black w-full h-full'>
</div>
<div id='spinner'
    class='invisible z-[10001] fixed top-0 left-0 flex items-center justify-center w-full h-full'>
    <svg role="status" class="inline mr-2 w-10 h-10 text-gray-200 animate-spin-slow fill-primary" viewBox="0 0 100 100" fill="none">
        <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
        <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
    </svg>
</div>


<div class="container mx-auto p-4 bg-red-100">
    <img src="{% static 'img/logo.png' %}" alt="Logotipo" class="h-6 my-2">
    <h2 class="text-center text-xl font-bold flex-grow">Registro Inspección TX-TSS / Pre-Ingenieria
    </h2>

    <form method="post" class="">
        {% csrf_token %}
        <div class="form-group">
            {{ form.etapa.label_tag }}
            {{ form.etapa|add_class:"formulario-input" }}
            {% if form.etapa.help_text %}
                <small class="form-text text-muted">{{ form.etapa.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.sitio.label_tag }}
            {{ form.sitio|add_class:"formulario-input" }}
            {% if form.sitio.help_text %}
                <small class="form-text text-muted">{{ form.sitio.help_text }}</small>
            {% endif %}
        </div>
        <div id="info-adicional-sitio">Información del sitio aparecerá aquí...</div>
        <div class="form-group">
            {{ form.altura.label_tag }}
            {{ form.altura|add_class:"formulario-input" }}
            {% if form.etapa.help_text %}
                <small class="form-text text-muted">{{ form.altura.help_text }}</small>
            {% endif %}
        </div>
        <div class="text-left mt-4">
            <button id="ubicar-btn" type="button" class="inline-flex items-center px-4 py-2 bg-green-500 text-white font-bold rounded hover:bg-green-700 transition-colors">
                📍 Ubicar Centro Torre/Poste
            </button>
        </div>
        <div class="flex justify-between space-x-4">
            <!-- Campo lat con botón -->
            <div class="form-group flex-1 relative">
                {{ form.lat.label_tag }}
                <div class="flex">
                    {{ form.lat|add_class:"formulario-input w-full"|attr:"id:lat" }}
                    <!-- Botón para abrir modal, al lado del campo lat -->
                    <button type="button" onclick="openModal('lat')" class="w-24 ml-0 bg-blue-500 hover:bg-blue-700 text-white font-bold p-0 rounded">
                        ° ′ ″
                    </button>
                </div>
                {% if form.lat.help_text %}
                    <small class="form-text text-muted">{{ form.lat.help_text }}</small>
                {% endif %}
            </div>
            <!-- Campo lon con botón -->
            <div class="form-group flex-1 relative">
                {{ form.lon.label_tag }}
                <div class="flex">
                    {{ form.lon|add_class:"formulario-input w-full"|attr:"id:lon" }}
                    <!-- Botón para abrir modal, al lado del campo lon -->
                    <button type="button" onclick="openModal('lon')" class="w-24 ml-0 bg-blue-500 hover:bg-blue-700 text-white font-bold -py-1 px-0 rounded">
                        ° ′ ″
                    </button>
                </div>
                {% if form.lon.help_text %}
                    <small class="form-text text-muted">{{ form.lon.help_text }}</small>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            {{ form.dimensiones.label_tag }}
            {{ form.dimensiones|add_class:"formulario-input" }}
            {% if form.dimensiones.help_text %}
                <small class="form-text text-muted">{{ form.dimensiones.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.deslindes.label_tag }}
            {{ form.deslindes|add_class:"formulario-input" }}
            {% if form.deslindes.help_text %}
                <small class="form-text text-muted">{{ form.deslindes.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.accesoSitio.label_tag }}
            {{ form.accesoSitio|add_class:"formulario-input" }}
            {% if form.accesoSitio.help_text %}
                <small class="form-text text-muted">{{ form.accesoSitio.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.accesoSitioConstruccion.label_tag }}
            {{ form.accesoSitioConstruccion|add_class:"formulario-input" }}
            {% if form.accesoSitioConstruccion.help_text %}
                <small class="form-text text-muted">{{ form.accesoSitioConstruccion.help_text }}</small>
            {% endif %}
        </div>

        <div class="flex justify-between space-x-4">
            <div class="form-group flex-1">
                {{ form.longitudAcceso.label_tag }}
                {{ form.longitudAcceso|add_class:"formulario-input" }}
                {% if form.longitudAcceso.help_text %}
                    <small class="form-text text-muted">{{ form.longitudAcceso.help_text }}</small>
                {% endif %}
            </div>

            <div class="form-group flex-1">
                {{ form.longitudAccesoConstuccion.label_tag }}
                {{ form.longitudAccesoConstuccion|add_class:"formulario-input" }}
                {% if form.longitudAccesoConstuccion.help_text %}
                    <small class="form-text text-muted">{{ form.longitudAccesoConstuccion.help_text }}</small>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            {{ form.tipoSuelo.label_tag }}
            {{ form.tipoSuelo|add_class:"formulario-input" }}
            {% if form.tipoSuelo.help_text %}
                <small class="form-text text-muted">{{ form.tipoSuelo.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.obstaculos.label_tag }}
            {{ form.obstaculos|add_class:"formulario-input" }}
            {% if form.obstaculos.help_text %}
                <small class="form-text text-muted">{{ form.obstaculos.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.adicionales.label_tag }}
            {{ form.adicionales|add_class:"formulario-input" }}
            {% if form.adicionales.help_text %}
                <small class="form-text text-muted">{{ form.adicionales.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.proveedorEnergia.label_tag }}
            {{ form.proveedorEnergia|add_class:"formulario-input" }}
            {% if form.proveedorEnergia.help_text %}
                <small class="form-text text-muted">{{ form.proveedorEnergia.help_text }}</small>
            {% endif %}
        </div>

        <div class="text-left mt-4">
            <button id="ubicarEmpalme-btn" type="button" class="inline-flex items-center px-4 py-2 bg-green-500 text-white font-bold rounded hover:bg-green-700 transition-colors">
                📍 Ubicar Empalme Definitivo
            </button>
        </div>

        <div class="flex justify-between space-x-4">
            <!-- Campo lat con botón -->
            <div class="form-group flex-1 relative">
                {{ form.lat_energia.label_tag }}
                <div class="flex">
                    {{ form.lat_energia|add_class:"formulario-input w-full" }}
                    <!-- Botón para abrir modal, al lado del campo lat -->
                    <button type="button" onclick="openModal('id_lat_energia')" class="w-24 ml-0 bg-blue-500 hover:bg-blue-700 text-white font-bold p-0 rounded">
                        ° ′ ″
                    </button>
                </div>
                {% if form.lat_energia.help_text %}
                    <small class="form-text text-muted">{{ form.lat_energia.help_text }}</small>
                {% endif %}
            </div>
            <!-- Campo lon con botón -->
            <div class="form-group flex-1 relative">
                {{ form.lon_energia.label_tag }}
                <div class="flex">
                    {{ form.lon_energia|add_class:"formulario-input w-full" }}
                    <!-- Botón para abrir modal, al lado del campo lon -->
                    <button type="button" onclick="openModal('id_lon_energia')" class="w-24 ml-0 bg-blue-500 hover:bg-blue-700 text-white font-bold -py-1 px-0 rounded">
                        ° ′ ″
                    </button>
                </div>
                {% if form.lon_energia.help_text %}
                    <small class="form-text text-muted">{{ form.lon_energia.help_text }}</small>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            {{ form.capacidadEnergia.label_tag }}
            {{ form.capacidadEnergia|add_class:"formulario-input" }}
            {% if form.capacidadEnergia.help_text %}
                <small class="form-text text-muted">{{ form.capacidadEnergia.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.comentario.label_tag }}
            {{ form.comentario|add_class:"formulario-input" }}
            {% if form.comentario.help_text %}
                <small class="form-text text-muted">{{ form.comentario.help_text }}</small>
            {% endif %}
        </div>

        <button type="submit" class="w-full px-4 py-2 my-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">
            ENVIAR REPORTE
        </button>
    </form>
    
    
</div>

<!-- Modal MApa -->
<div id="mapModal" class="fixed inset-0 bg-black bg-opacity-50 overflow-y-auto h-full w-full hidden flex items-center justify-center">
    <!-- Modal content -->
    <div class="relative mx-auto p-5 border w-11/12 md:w-3/4 lg:w-1/2 shadow-lg rounded-md bg-white">
        <!-- Close button -->
        <div class="flex justify-end items-center">
            <button id="closeModal" class="text-black close-modal">&times;</button>
        </div>
        <!-- Leaflet map container -->
        <div id="map" class="relative w-full" style="height: 60vh;"> <!-- Ajusta la altura según necesites -->
        </div>
        <div class="text-center mt-4">
            <button id="confirmarUbicacion-btn" class="px-4 py-2 bg-green-500 text-white font-bold rounded hover:bg-green-700 transition-colors">
                Confirmar ubicacion
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modal-lat-lon" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center hidden">
    <div class="bg-white rounded-lg p-5">
      <div class="flex justify-between items-center">
        <h2 class="text-lg">Introducir coordenadas</h2>
        <button onclick="closeModal()" class="text-black">&times;</button>
      </div>
      <form id="coords-form" class="space-y-4">
        <div>
          <label for="degrees" class="block text-sm font-medium text-gray-700">Grados</label>
          <input type="number" id="degrees" name="degrees" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" >
        </div>
        <div>
          <label for="minutes" class="block text-sm font-medium text-gray-700">Minutos</label>
          <input type="number" id="minutes" name="minutes" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
        </div>
        <div>
          <label for="seconds" class="block text-sm font-medium text-gray-700">Segundos</label>
          <input type="number" id="seconds" name="seconds" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm">
        </div>
        <div class="flex justify-end">
          <button type="button" onclick="calculateAndCloseModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
  

{% endblock content %}

{% block extra_js %}
<script>
    var sitiosInfo = {{ sitios_info|safe }};
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var selectSitio = document.getElementById('id_sitio'); // Asegúrate de usar el ID correcto
            selectSitio.addEventListener('change', function() {
                var sitioId = this.value;
                var infoAdicional = sitiosInfo[sitioId] || 'Información no disponible';
                document.getElementById('info-adicional-sitio').innerText = infoAdicional;
            });
        });
     </script>
        
    
    <script type="text/javascript" src="{% static './js/formularios.js' %}"></script>
  <script>
    // Modal para convertir grados minutos y segundo e grados decimales

            // Función para abrir el modal
            function openModal(fieldId) {
                document.getElementById('modal-lat-lon').classList.remove('hidden');
                document.getElementById('coords-form').dataset.fieldId = fieldId; // Guarda el ID del campo que activó el modal
              }
              
              // Función para cerrar el modal
              function closeModal() {
                document.getElementById('modal-lat-lon').classList.add('hidden');
                document.getElementById('degrees').value = '';
                document.getElementById('minutes').value = '';
                document.getElementById('seconds').value = '';
              }
              
              // Función para calcular y cerrar el modal
              function calculateAndCloseModal() {
                const form = document.getElementById('coords-form');
                const fieldId = form.dataset.fieldId; // Recupera el ID del campo que activó el modal
                const degrees = parseFloat(document.getElementById('degrees').value) || 0;
                const minutes = parseFloat(document.getElementById('minutes').value) || 0;
                const seconds = parseFloat(document.getElementById('seconds').value) || 0;
              
                // Convierte a grados con 7 decimales
                const totalDegrees = -(degrees + (minutes / 60) + (seconds / 3600));
              
                // Solo asigna el valor si el resultado no es cero
                if (totalDegrees !== 0) {
                  document.getElementById(fieldId).value = totalDegrees.toFixed(7);
                } 
              
                closeModal(); // Cierra el modal
              }



    </script>
        
{% endblock extra_js %}
